.scrollContainer {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--theme-background);
}

.content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
