.layout {
  display: flex;
  align-items: center;
  gap: var(--theme-container-padding);
}

.logoCol {
  flex: none;
  display: flex;
  align-items: center;
}

.textCol {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 4px;
}

.buttonCol {
  flex: none;
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  object-fit: contain;
}

.title {
  margin: 0;
}

.description {
  margin: 0;
}
